* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.grid1 {
  display: grid;
  background-color: #fafbfc;
  padding: 10px;
  gap: 10px;
}

@media (min-width: 800px) {
  .grid1 {
    grid-template-columns: 1fr 1fr;
  }
}
